<div class="streams">
  <div class="top_nav">
    {{view App.BatteryView}}
  </div>

  {{outlet}}

  <div class="stream_nav">
    {{#link-to "board.accelerometer"}}
      <span class="glyphicon glyphicon-globe">
      </span>
    {{/link-to}}
    {{#link-to "board.gps"}}
      <span class="glyphicon glyphicon-flash">
      </span>
    {{/link-to}}
    {{#link-to "board.gyroscope"}}
      <span class="glyphicon glyphicon-floppy-open">
      </span>
    {{/link-to}}
    {{#link-to "board.humidity"}}
      <span class="glyphicon glyphicon-cog">
      </span>
    {{/link-to}}
    {{#link-to "board.luminosity"}}
      <span class="glyphicon glyphicon-link">
      </span>
    {{/link-to}}
    {{#link-to "board.magnetometer"}}
      <span class="glyphicon glyphicon-send">
      </span>
    {{/link-to}}
    {{#link-to "board.pressure"}}
      <span class="glyphicon glyphicon-send">
      </span>
    {{/link-to}}
    {{#link-to "board.temperature"}}
      <span class="glyphicon glyphicon-send">
      </span>
    {{/link-to}}
  </div>
</div>
