<div class="sidebar">
  <div class="home">
    {{#link-to 'boards'}}
      <span class="glyphicon glyphicon-home">
      </span>
    {{/link-to}}
  </div>
  <div class="top">
    {{#link-to 'world'}}
      <span class="glyphicon glyphicon-globe">
      </span>
    {{/link-to}}
  </div>
  <div class="board">
    {{#link-to "board.live"}}
      <span class="glyphicon glyphicon-flash">
      </span>
    {{/link-to}}
    {{#link-to "board.gyroscope"}}
      <span class="glyphicon glyphicon-floppy-open">
      </span>
    {{/link-to}}
    {{#link-to "board.temperature"}}
      <span class="glyphicon glyphicon-send">
      </span>
    {{/link-to}}
  </div>
  <div class="bottom">
    {{#link-to 'settings'}}
      <span class="glyphicon glyphicon-cog">
      </span>
    {{/link-to}}
  </div>
</div>
