.top_nav {
  position: absolute;
  top: 0px;
  right: 0px;
}

.stream_nav {
  margin: 0px auto;
  position: absolute;
  bottom: 20px;
  left: ~"calc(50% - 190px)";

  .glyphicon {
    font-size: x-large;
    margin: 10px;

    cursor: pointer;

    color: @black;

    &:hover {
      color: @light_gray;
    }
  }
}
