body .right_pane {
  .boards {
    h2 {
      text-transform: uppercase;
      text-align: center;
    }

    .container {
      width: 100%;

      .col-md-4 {
        .hover-color(@lighter_gray);

        cursor: pointer;
        height: 300px;
        width: 300px;

        color: @very_dark;
      }
    }
  }
}
