body .right_pane {
  .boards {
    h2 {
      text-transform: uppercase;
      text-align: center;
    }

    @height: 200px;

    div.horizontal {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      ul {
        height: 200px;
        width: 1500px;

        li {
          width: 300px;
          display: inline-block;

          .container {
            .hover-color(@lighter_gray);

            cursor: pointer;
            height: 180px;
            width: 250px;
            margin: 10px auto;
            border-radius: 5px;

            color: @very_dark;
            text-align: center;

            h3 {
              margin-top: 0px;
            }

            .stoplight {
              svg {
                height: 20px;
                width: 20px;
                margin: 5px 0px 0px 165px;
              }
            }
          }
        }
      }
    }

    ul.boards_list {
      padding: 0px 0px 0px 100px;
    }

    .outline {
      height: 100px;
      width: 200px;
    }
  }
}
