body .right_pane {
  .boards {
    h2 {
      text-transform: uppercase;
      text-align: center;
    }

    @height: 200px;

    div.horizontal {
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      ul {
        height: @height;
        width: 1500px;
        padding: 0px;
        min-width: 100%;
        text-align: justify;

        li {
          .hover-color(@lighter_gray);

          display: inline-block;
          cursor: pointer;
          height: @height;
          width: 300px;

          color: @very_dark;
        }
      }
    }
  }
}
