<h2>Select a Device</h2>
<div class="container">
  <div class="row">
    {{#each board in boards}}
      {{#link-to "boards.show" board}}
        <div class="col-md-4">
          <h3>Vendor ID: {{board.vendorId}}</h3>
          <h3>Product ID: {{board.productId}}</h3>
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>
