<div class="horizontal">
  <ul class="boards_list">
    {{#each board in boards}}
      {{#link-to "board" board}}
        <li>
          <div class="container">
            <h3>{{board.productId}}</h3>
            <div class="outline"></div>
            <div class="stoplight">
              {{view App.CircleView}}
            </div>
          </div>
        </li>
      {{/link-to}}
    {{/each}}
  </ul>
</div>
