<div class="horizontal">
  <ul class="boards_list">
    {{#each board in boards}}
      <li>
        <div class="container">
          <h3>{{board.productId}}</h3>
          {{#link-to "board" board}}
            <div class="board">
              {{view App.OutlineView}}
            </div>
          {{/link-to}}
          <div class="stoplight">
            {{view App.CircleView}}
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>
