<div class="horizontal">
  <ul>
    {{#each board in boards}}
      {{#link-to "board" board}}
        <li>
          <h3>Vendor ID: {{board.vendorId}}</h3>
          <h3>Product ID: {{board.productId}}</h3>
        </li>
      {{/link-to}}
    {{/each}}
  </ul>
</div>
