<div id="graph">
</div>

<div class="vectors">
  <div class="vector" draggable="true">
    T
  </div>
  <div class="vector" draggable="true">
    P
  </div>
  <div class="vector" draggable="true">
    H
  </div>
  <div class="vector" draggable="true">
    L
  </div>
</div>
