<div id="graph">
</div>

<div class="vectors">
  {{view App.VectorView name="T" vector="temperature"}}
  {{view App.VectorView name="P" vector="pressure"}}
  {{view App.VectorView name="H" vector="humidity"}}
  {{view App.VectorView name="L" vector="luminosity"}}
</div>
