@import "sidebar/sidebar";
@import "boards";
@import "streams";
@import "colors";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: @exceptionally_light_gray;

  .right_pane {
    position: absolute;
    top: 0px;
    left: 100px;
    right: 0px;
    bottom: 0px;
  }
}
