@import "colors";
@import "mixins";
@import "sidebar/sidebar";
@import "boards/boards";
@import "boards/gps";
@import "streams/streams";

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: @light_gray;
}

a {
  text-decoration: none;
}

body {
  background-image: url('../assets/background.png');

  .right_pane {
    position: absolute;
    width: ~"calc(100% - 100px)";
    top: 0px;
    left: 100px;
    bottom: 0px;
  }
}
