.sidebar {
  width: 100px;
  position: absolute;
  border-right: 1px solid @exceptionally_light_gray;
  top: 0px;
  left: 0px;
  bottom: 0px;

  filter: blur(0.3);
  background-color: @gray_clearer;

  .glyphicon {
    font-size: xx-large;
    margin: 25px 0px 0px 32px;
    color: @lighter_gray;

    cursor: pointer;

    &:hover {
      color: @light_gray;
    }
  }
}
